{% load static %}

{% if draft_manufacture %}
    <div class="col md-4 justify-end">
        <a href="/manufactures/{{ draft_manufacture.id }}/">
            <div class="row d-flex justify-content-between align-items-center w-100">
                <div class="col-md-2"> 
                    <div class="badge position-relative badge rounded-pill" style="float: right;">
                        {{ programms_count }}
                    </div>
                    <img src="http://192.168.1.10:9000/images/busket.png">
                </div>
            </div>
        </a>
    </div>
{% else %}
    <div class="col md-4 justify-end">
        <img src="http://192.168.1.10:9000/images/busket.png"> 
    </div>
{% endif %}

