{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <div class="header-text" style="font-size: 40px;">Черновая деталь</div>

        <span>
            <div class="header-text" style="font-size: 16px; text-align: left;">Название детали:</div>
            <input disabled class="form-control" style="width: 150px" value="{{ manufacture.name }}">
        </span>
        <span>
            <div class="header-text" style="font-size: 16px; text-align: left;">Дата изготовления:</div>
            <input disabled class="form-control" style="width: 150px" value="{{ manufacture.date }}">
        </span>

        <div class="header-text" style="font-size: 40px;">Заявка на производство</div>
        <div class="cards-wrapper d-flex flex-column">
            {% for programm in programms %}
                {% include "programm_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}