{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container programm-page">
        <div class="row">
            <div class="col-6">
                <img src="{{ programm.image }}" class="programm-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">
                <div class="header-text" style="font-size: 40px;">{{ programm.name }}</div>
                <span>Описание: {{ programm.description }}</span>
                <span>Цена: {{ programm.price }}₽</span>
                <span>Материал: {{ programm.material }}</span>
            </div>
        </div>
    </main>
{% endblock content %}