{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="d-flex justify-content-end align-items-center">
            {% include "bin.html" %}
        </div>
        <div class="header-text">Программы ЧПУ</div>
        <div class="col md-8">
            <form class="search-bar" action="/" method="GET">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control rounded-input" placeholder="Поиск программ" name="programm_name" value="{{ programm_name }}">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary search-btn">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="cards-wrapper">
            {% for programm in programms %}
                <div class="card">
                    <div class="row g-0"> 
                        <img src="{{ programm.get_image }}" class="programm-preview" alt=""/>
                        <div class="card-body d-flex flex-column">
                            <div class="card-info">
                                <h5 class="card-title">{{ programm.name }}</h5>
                                <p class="card-text">Цена: {{ programm.price }}₽</p>
                            </div>
                            <div class="card-btns">
                                <a href="/programms/{{ programm.id }}/" class="btn btn-primary" style = "width: 50%; margin-right: 10px;">
                                    Подробнее
                                </a>
                                <form method="post" action="{% url 'add_programm_to_draft_manufacture' programm.id %}" class="d-flex justify-content-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="programm_name" value="{{ programm_name }}">
                                    <button class="btn btn-primary" type="submit">
                                        Добавить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

