{% load static %}


{% if "http://localhost:8000/manufactures/" in request.build_absolute_uri or "http://192.168.1.10:8000/manufactures/" in request.build_absolute_uri %}
<!-- ПРОИЗВОДСТВО -->
    <div class="card w-100 mb5">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center">
            <img src="{{ programm.image }}" class="card-manufacture" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="header-text" style="font-size: 24px;">{{ programm.name }}</div>
                    <p class="card-text">Цена: {{ programm.price }}₽</p>
                    <div class="form-group">
                        <label class="form-label">Длительность (мин):</label>
                        <input disabled class="form-control" style="width: 150px" value="{{ programm.value }}">
                    </div>
                    <a href="/programms/{{ programm.id }}/" class="btn btn-primary" style="width: 150px">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
   </div> 

{% else %}
<!-- ОСНОВНАЯ -->
    <div class="card">
        <div class="row g-0"> 
            <div class="col-md-12">
                <img src="{{ programm.image }}" class="programm-preview" alt=""/>
            </div>
            <div class="col-md-12"> 
                <div class="card-body d-flex flex-column">
                    <div class="card-info">
                        <h5 class="card-title">{{ programm.name }}</h5>
                        <p class="card-text">Цена: {{ programm.price }}₽</p>
                    </div>
                    <div class="card-btns">
                        <a href="/programms/{{ programm.id }}/" class="btn btn-primary center">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}




